server {

  # Listen to port specified by the PORT environment variable
  listen 0.0.0.0:$PORT;

  # Serve static files for requests made to /
  location / {
    root /usr/src/app/build;
    try_files $uri /index.html;
  }

  # Redirect requests made to /api
  location /api {
    proxy_pass http://flags-be-env.eba-qxmknt2v.us-west-1.elasticbeanstalk.com/api;
  }
}